<!--
  Generated template for the StaffButiranKes page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Butiran Kes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <ion-list>
    <ion-item-divider color="light"><h2 class="itemDivider" >Lokasi</h2></ion-item-divider>

    <ion-item no-lines mode="wp" style="border-bottom:1px solid lightgray; padding-bottom:10px">
      <h2  text-wrap item-left ><b>{{aduan.location}}</b></h2>
    </ion-item>

    <!-- <div class="buttonContainer"  > -->
    <button ion-button class="button" small color="primary" round mode="ios" (click)="openMap()">View On Map</button>
  <!-- </div> -->


    <ion-item-divider color="light"><h2 class="itemDivider" >Pemerhatian</h2></ion-item-divider>

    <ion-item no-lines mode="wp" style="border-bottom:1px solid lightgray; padding-bottom:10px">
      <h2  text-wrap item-left ><b>{{aduan.deskripsi}}</b></h2>
    </ion-item>

    <ion-item-divider color="light"><h2 class="itemDivider" >Status</h2></ion-item-divider>

    <ion-item no-lines mode="wp" style="border-bottom:1px solid lightgray; padding-bottom:10px">
      <h2  text-wrap item-left ><b>Tindakan Diambil: {{aduan.tindakan}}</b></h2>
    </ion-item>

    <ion-item-divider color="light"><h2 class="itemDivider" >Staf yang laporkan</h2></ion-item-divider>

    <ion-item no-lines mode="wp" style="border-bottom:1px solid lightgray; padding-bottom:10px">
      <h2  text-wrap item-left ><b>{{aduan.nama}}</b></h2>
    </ion-item>

    <ion-item-divider color="light"><h2 class="itemDivider" >No. Telefon Staf</h2></ion-item-divider>

    <ion-item no-lines mode="wp" style="border-bottom:1px solid lightgray; padding-bottom:10px">
      <h2  text-wrap item-left ><b>{{aduan.telefon}}</b></h2>
    </ion-item>

    <ion-item-divider color="light"><h2 class="itemDivider" >Gambar</h2></ion-item-divider>

    <div style="width:100%;height:100px;">
      <img [src]="aduan.gambar">
    </div>

    <!-- <ion-item-divider color="light"><h2 class="itemDivider" >Catatan kepada pelapor</h2></ion-item-divider>
    <ion-item mode="wp">
      <ion-textarea mode="wp" type="text" clearInput></ion-textarea>
    </ion-item> -->




  </ion-list>


</ion-content>

<ion-footer  >


  <div class="buttonContainer" *ngIf="!toggle" >
    <h6  item-left  style="font-weight:100">Tekan butang ini jika sudah kes sudah diselesaikan</h6>
    <button ion-button class="button" color="secondary" round mode="ios" (click)="toYes(aduan.$key)">Kes Diselesaikan</button>
  </div>

  <div class="buttonContainer" *ngIf="toggle" >
    <h6  item-left  style="font-weight:100">Tekan butang ini jika sudah kes belum diselesaikan</h6>
    <button ion-button class="button" color="danger" round mode="ios" (click)="toNo(aduan.$key)">Kes Belum Diselesaikan</button>
  </div>


</ion-footer>
